body {
    /*background-color: red;*/

}


div.partie{
    border: 2px solid #000000;
    margin: 3% 10%;
    border-radius: 0px 0px 30px 0px;
}

div.partie h1{
    background: linear-gradient(to right, #003366 0%, #ffffff 100%);
    margin: 0px;
    padding: 5px;
    color: #ffffff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#digi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  border-radius:500px;
}


a:hover {
        color: red;
}

